table {
  &.estimation-table {
    width: 100%;
    padding-bottom: 40px;
    margin-bottom: 30px;
    border: 1px solid #e5e5e5;

    thead {
      tr {
        th {
          font-family: map-get($font-family, "regular");
          font-size: map-get($font-sizes, "small");
          color: map-get($base_colors, "blue-text-color");
          text-align: left;
          padding: 10px 20px;

          &:nth-child(1) {
            width: 70%;
          }

          &:nth-child(2) {
            text-align: center;
          }

          &:nth-child(3) {
            // width: 30%;
          }
        }
      }
    }

    tbody {
      position: relative;

      p {
        margin: 0px;
        padding-left: calculateRem(22px);
      }

      tr {
        box-shadow: 0px 1px 0px 0px map-get($base_colors, "input-border-color");
        position: relative;

        &.totalRow {
          height: 40px;

          td {
            &:nth-child(1) {
              text-align: right;
              padding-right: 10px;
              text-transform: uppercase;
              font-family: map-get($font-family, "medium");
              font-size: map-get($font-sizes, "small");
              color: map-get($base_colors, "primary-color");
            }
          }
        }

        &:hover {
          .data {
            position: absolute;
            right: calculateRem(10px);
            top: calc(50% - 10px);
            content: url(../../images/close.svg);
            height: calculateRem(20px);
            width: calculateRem(20px);
            background: map-get($base_colors, "input-border-color");
            display: flex;
            justify-content: center;
            align-items: baseline;
            border-radius: 50%;
            padding: calculateRem(5px);
          }
        }

        td {

          &:nth-child(1) {
            width: 70%;
            box-shadow: 1px 0px 0px 0px map-get($base_colors, "input-border-color");
            padding-left: calculateRem(50px);
            position: relative;

            .screen-index {
              position: absolute;
              top: 6px;
              left: 28px;
              font-family: map-get($font-family, "regular");
              font-size: map-get($font-sizes, "small");
            }
          }

          &:nth-child(2) {
            box-shadow: 1px 0px 0px 0px map-get($base_colors, "input-border-color");
            position: relative;
            width: 16%;
            text-align: center;

            .MuiInputBase-input {
              text-align: center;
            }
          }

          &:nth-child(3) {
            width: 3%;
            text-align: center;

          }

          .add-subRow {
            display: none;
            min-width: 20px;
            height: 18px;
            background: #f3f3f4;
            color: map-get($base_colors, "black");
            position: absolute;
            right: 4px;
            top: 7px;
            box-shadow: 0px 2px 2px #00000014;
            z-index: 99;
          }

          &:hover {
            .add-subRow {
              display: flex;
            }
          }

          &.subRowInput {
            width: 100%;
            position: relative;
            display: block;
            padding-left: 34px;

            .sub-screen-index {
              position: absolute;
              top: 6px;
              left: 0px;
              font-family: map-get($font-family, "regular");
              font-size: map-get($font-sizes, "small");
            }

            .subdata {
              display: none;
              position: absolute;
              top: calculateRem(8px);
              right: 34px;
              // content: url(../../images/close.svg);
              height: calculateRem(17px);
              width: calculateRem(17px);
              background: map-get($base_colors, "input-border-color");
              justify-content: center;
              align-items: baseline;
              border-radius: 50%;
              padding: calculateRem(5px);
              cursor: pointer;
            }

            .add-sub-row {
              display: none;
              position: absolute;
              top: calculateRem(8px);
              right: 34px;
              content: url(../../images/add.svg);
              height: calculateRem(17px);
              width: calculateRem(17px);
              background: map-get($base_colors, "input-border-color");
              justify-content: center;
              align-items: baseline;
              border-radius: 50%;
              padding: calculateRem(5px);
            }

            .MuiFormControl-root {
              .MuiTextField-root {
                .MuiInputBase-root {
                  font-family: map-get($font-family, "regular");
                }
              }
            }

            .add-subRow {
              display: none;
              min-width: 20px;
              height: 18px;
              background: #f3f3f4;
              color: map-get($base_colors, "black");
              position: absolute;
              right: 4px;
              bottom: 7px;
              box-shadow: 0px 2px 2px #00000014;
              z-index: 99;
            }

            &:hover {
              .add-subRow {
                display: flex;
              }

              .subdata {
                display: flex;
              }

              .add-sub-row {
                display: flex;
              }

            }
          }

          .MuiFormControl-root {
            margin: 0px;
            width: 100%;

            .MuiTextField-root {
              margin: 0px;

              .MuiInputBase-root {
                height: calculateRem(30px);
                width: 100%;
                background: transparent;
                font-family: map-get($font-family, "medium");
                font-size: map-get($font-sizes, "small");
                color: map-get($base_colors, "primary-color");

                &::before,
                &::after {
                  border: none;
                }

                .Mui-disabled {
                  -webkit-text-fill-color: #000000;
                }
              }
            }
          }

          .timeline-action-btn {


            text-transform: lowercase;
            min-width: 28px;
            height: 20px;
            margin-bottom: 5px;
            z-index: 99;
            font-size: 12px;
            opacity: .6;

            &:hover {
              opacity: 1;
            }
          }
        }
      }

      .AddRow {
        position: absolute;
        right: 4px;
        padding-top: 10px;
      }

      .add-new-row {
        position: absolute;
        right: -24px;
        top: 20%;
        border: 1px solid #e5e5e5;
        min-width: 8px;
        min-height: 54px;
        padding: 6px;
        border-left: 0;
        border-radius: 4px;
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}