.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.br-0 {
    border-right: none !important;
}


.bl-0 {
    border-left: none !important;
}

.text-bold {
    font-size: 18px !important;
    font-family: map-get($font-family, 'medium') !important;
}