@import './assets/scss/theme.scss';
@import './assets/scss/mixin.scss';
@import './assets/scss/main.scss';

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body{
  background-color: map-get($page_bg, 'bg1' );
  font-family: map-get($font-family, 'regular' );
}

*, *:before, *:after {
  box-sizing: inherit;
}


ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: map-get($base_colors, "white");
  text-decoration: none;
 }