@import "../../assets/scss/theme.scss";
@import "../../assets/scss/mixin.scss";

.estimate-container {
  max-width: 1130px;
  display: flex;
  gap: 30px;
  margin: 60px auto 0px;

  .estimate-form-container {
    // padding: 110px 130px 130px 130px;
    padding: 80px 120px 80px 120px;
    box-shadow: 0px 3px 6px map-get($base_colors, "shadow-color");
    border-radius: 8px;
    background-color: map-get($base_colors, "white");

    .estimation-form-group {
      display: flex;
      flex-direction: row;

      > :first-child {
        flex: 0 0 70%;
        margin-right: 20px;
      }

      > :last-child {
        flex: 0 0 25%;
      }
    }

    .MuiFormControl-root {
      width: 100%;
      .MuiTextField-root .MuiInputBase-root {
        width: 100%;
      }
    }
  }

  .description {
    padding: calculateRem(57px) calculateRem(30px) calculateRem(30px)
      calculateRem(30px);
    box-shadow: 0px 3px 6px map-get($base_colors, "shadow-color");
    border-radius: calculateRem(8px);
    background-color: map-get($base_colors, "white");

    .description-label {
      font-family: map-get($font-family, "medium");
      font-size: map-get($font-sizes, "small");
      color: map-get($base_colors, "black");
      margin-bottom: calculateRem(6px);
    }

    textarea {
      resize: vertical;
      padding: calculateRem(15px) calculateRem(20px);
      border-radius: calculateRem(8px);
      border: 1px solid map-get($base_colors, "input-border-color");
      font-family: map-get($font-family, "regular");
      font-size: map-get($font-sizes, "small");
      color: map-get($base_colors, "primary-color");
      line-height: 23px;
    }
  }
}

.estimate-btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .estimate-nav-btn {
    @include size(50px, 180px);
    // background-color: map-get($page_bg, 'topbar-gd1');
    // &:hover {
    //     background-color: map-get($page_bg, 'topbar-gd1');
    // }
  }
}
