@import "../../assets/scss/theme.scss";
@import "../../assets/scss/mixin.scss";

.estimate-container {
  max-width: 1130px;
  display: flex;
  gap: 30px;
  margin: auto;

  .error-text {
    margin-top: 3px;
    margin-left: 14px;
    font-size: .85rem;
    color: map-get($base_colors, "danger-color");
  }

  .estimate-form-container {
    // padding: 20px 120px 20px 120px;
    padding: 55px 120px 20px 120px;
    box-shadow: 0px 3px 6px map-get($base_colors, "shadow-color");
    border-radius: 8px;
    background-color: map-get($base_colors, "white");
    height: calc(100vh - 16rem);
    overflow-y: auto;

    @media (min-height:800px) {
      padding: 40px 100px;
      max-height: max-content;
    }

    .team-selection {
      .team-autocomplete {
        font-family: map-get($font-family, "regular");
        font-size: map-get($font-sizes, "xsmall") - 1;
        color: map-get($base_colors, "search-color");
        margin-top: calculateRem(-2px);
        padding-left: calculateRem(10px);
        background: map-get($base_colors, "white");
        @include size(30px, 140px);
        border-color: map-get($base_colors, "input-border-color");
        // outline: 1px solid map-get($base_colors, "input-border-color");
        border-width: 1px;
        border-radius: calculateRem(8px);

        &:hover,
        &:focus,
        &:active {
          color: map-get($base_colors, "primary-color");
          outline: 1px solid map-get($base_colors, "input-border-color");
        }

        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 50px;
        background-color: #f3f3f4;
        font-size: 16px;

        &:hover {
          background-color: #fff;
          border: 4px solid #e5e5e5;
        }
      }

      img {
        position: absolute;
        right: 16px;
        top: 44px;
        width: 14px;
      }
    }

    .estimation-form-group {
      display: flex;
      flex-direction: row;

      > :first-child {
        flex: 0 0 70%;
        margin-right: 20px;
      }

      > :last-child {
        flex: 0 0 25%;
      }
    }

    .MuiFormControl-root {
      width: 100%;

      .MuiTextField-root .MuiInputBase-root {
        width: 100%;
      }
    }
  }

  .description {
    padding: calculateRem(40px) calculateRem(30px) calculateRem(30px) calculateRem(30px);
    box-shadow: 0px 3px 6px map-get($base_colors, "shadow-color");
    border-radius: calculateRem(8px);
    background-color: map-get($base_colors, "white");
    height: calc(100vh - 16rem);
    min-width: calculateRem(380px);
    overflow-y: auto;

    .description-label {
      font-family: map-get($font-family, "medium");
      font-size: map-get($font-sizes, "small");
      color: map-get($base_colors, "black");
      margin-bottom: calculateRem(6px);
      position: sticky;
      top: -40px;
      padding-block: 1rem;
      background-color: #fff;
    }

    textarea {
      resize: vertical;
      padding: calculateRem(15px) calculateRem(20px);
      border-radius: calculateRem(8px);
      border: 1px solid map-get($base_colors, "input-border-color");
      font-family: map-get($font-family, "regular");
      font-size: map-get($font-sizes, "small");
      color: map-get($base_colors, "primary-color");
      line-height: 23px;
    }

  }
}

.estimate-btns-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .estimate-nav-btn {
    @include size(50px, 180px);
    // background-color: map-get($page_bg, 'topbar-gd1');
    // &:hover {
    //     background-color: map-get($page_bg, 'topbar-gd1');
    // }
  }
}